In [154]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [104]:
uriage_data = pd.read_csv("uriage.csv")
uriage_data.head()

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二

In [105]:
kokyaku_data = pd.read_excel("kokyaku_daicho.xlsx")
kokyaku_data.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

In [4]:
uriage_data["item_name"].head()

0      商品A
1    商 品 S
2    商 品 a
3      商品Z
4      商品a
Name: item_name, dtype: object

In [5]:
uriage_data["item_price"].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

In [6]:
uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"])
uriage_data["purchase_month"] = uriage_data["purchase_date"].dt.strftime("%Y%m")
uriage_data["purchase_month"]

0       201906
1       201907
2       201905
3       201902
4       201904
         ...
2994    201902
2995    201906
2996    201903
2997    201907
2998    201907
Name: purchase_month, Length: 2999, dtype: object

In [7]:
uriage_data.head()

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1 2019-07-13 13:05:29     商 品 S         NaN          浅田賢二         201907
2 2019-05-11 19:42:07     商 品 a         NaN          南部慶二         201905
3 2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4 2019-04-22 03:09:35       商品a         NaN          平田鉄二         201904

In [8]:
uriage_data.pivot_table(index = "purchase_month", columns = "item_name", fill_value = 0, aggfunc = "size")

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0,1,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
201903,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
201905,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
201906,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
201907,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,2,0,0,0,0,0

In [9]:
uriage_data.pivot_table(index = "purchase_month", columns = "item_name", values = "item_price", aggfunc = "sum", fill_value = 0)

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0,1400,0,0,0,0,0,0,0,0,...,1100,1200,1500,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,0,2400,0,0,...,0,0,0,0,0,1900,2000,2200,0,0
201903,0,0,500,1300,1600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,2300,0,0,0,0,0,0,0,0,1700,...,0,0,0,0,0,1900,0,0,0,0
201905,0,0,0,0,0,1900,0,0,0,0,...,0,1200,0,0,0,0,0,0,0,2500
201906,0,0,0,0,0,0,2300,0,0,0,...,0,0,0,1600,0,0,0,0,2400,0
201907,0,0,0,0,0,0,0,0,0,0,...,0,0,1500,0,1800,0,0,0,0,0

In [10]:
uriage_data["item_name"].unique()

array(['商品A', '商 品 S', '商 品 a', '商品Z', '商品a', '商品S', '商品 a', '商品V', '商品O',
       '商 品U', '商品L', '商  品V', '商 品O', '商品C', '商品I', '商品r', '商品X', '商品 g',
       '商品R', '商品P', '商品Q', '商品y', '商品 A', '商品N', '商品W', '商 品E', '商品K',
       '商品B', '商品F', '商 品s', '  商品W', ' 商 品 n', '商 品F', '商品D', '商品M',
       '商品Y', '商品U', '商品H', '商品T', '商品J', '商  品O', '商品E', '商  品Q', ' 商品S',
       ' 商品M', '商  品T', '商品G', '商 品G', ' 商品P', ' 商品E', '商 品N', '商 品Y',
       '商品 J', '商品 V', '商品 K', '商 品V', '商 品D', '商 品A', '商品 F', '商品 H',
       '商 品K', '商 品T', '商品 X', '商品 Q', '商 品X', '商 品H', '商 品C', '商品 B',
       '商品 O', '商品 T', '商品v', '商品p', '商品i', '商品 w', '商 品 s', '商 品 q',
       '商品s', '商品l', '商品t', '商品k', '商品g', '商品o', '商品 R', '商品 S', '商 品M',
       '商品j', '商品d', '商品 I', '商品 E', '商品 o', '商品c', '商品 v', '商品e', '商品x',
       '商 品I', ' 商品W', ' 商品X', '商品 M', '商 品P'], dtype=object)

In [11]:
uriage_data["item_name"] = uriage_data["item_name"].str.replace(" ", "")
uriage_data["item_name"].unique()

array(['商品A', '商品S', '商品a', '商品Z', '商品V', '商品O', '商品U', '商品L', '商品C',
       '商品I', '商品r', '商品X', '商品g', '商品R', '商品P', '商品Q', '商品y', '商品N',
       '商品W', '商品E', '商品K', '商品B', '商品F', '商品s', '商品n', '商品D', '商品M',
       '商品Y', '商品H', '商品T', '商品J', '商品G', '商品v', '商品p', '商品i', '商品w',
       '商品q', '商品l', '商品t', '商品k', '商品o', '商品j', '商品d', '商品c', '商品e',
       '商品x'], dtype=object)

In [12]:
uriage_data.sort_values("item_name")

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1742 2019-06-13 16:03:17       商品A       100.0          小平陽子         201906
1738 2019-02-10 00:28:43       商品A       100.0          松田浩正         201902
1721 2019-02-24 19:18:05       商品A       100.0           楠哲平         201902
223  2019-06-25 08:13:20       商品A       100.0           板橋隆         201906
...                  ...       ...         ...           ...            ...
1832 2019-03-31 06:47:39       商品v         NaN          高梨結衣         201903
1336 2019-02-18 08:16:41       商品v      2200.0         志村サダヲ         201902
1467 2019-05-16 08:27:40       商品w      2300.0          松川綾女         201905
2031 2019-06-05 13:37:50       商品x      2400.0          田畑正敏         201906
26   2019-05-16 04:45:21       商品y      2500.0          明石家明         201905

[2999 rows x 5 columns]

In [13]:
uriage_data["item_name"] = uriage_data["item_name"].str.upper()
uriage_data["item_name"].unique()

array(['商品A', '商品S', '商品Z', '商品V', '商品O', '商品U', '商品L', '商品C', '商品I',
       '商品R', '商品X', '商品G', '商品P', '商品Q', '商品Y', '商品N', '商品W', '商品E',
       '商品K', '商品B', '商品F', '商品D', '商品M', '商品H', '商品T', '商品J'],
      dtype=object)

In [14]:
len(uriage_data["item_name"].unique())

26

In [15]:
# Null値が含まれているかの確認

uriage_data.isnull().any()

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [16]:
#Null値が含まれる商品名のリストを作成

items_with_null = uriage_data.loc[uriage_data["item_price"].isnull(), "item_name"].unique()
items_with_null

array(['商品S', '商品A', '商品P', '商品N', '商品W', '商品R', '商品I', '商品L', '商品F',
       '商品O', '商品B', '商品C', '商品V', '商品Q', '商品U', '商品K', '商品T', '商品X',
       '商品E', '商品M', '商品G', '商品J', '商品D', '商品H', '商品Y'], dtype=object)

In [27]:
#商品ごとの値段を取りだし、Null値に代入

for item in items_with_null:
    price = uriage_data.loc[(~uriage_data["item_price"].isnull()) & (uriage_data["item_name"] == item), "item_price"].max()
    uriage_data.loc[(uriage_data["item_price"].isnull()) & (uriage_data["item_name"] == item), "item_price"] = price
uriage_data.head()

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1 2019-07-13 13:05:29       商品S      1900.0          浅田賢二         201907
2 2019-05-11 19:42:07       商品A       100.0          南部慶二         201905
3 2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4 2019-04-22 03:09:35       商品A       100.0          平田鉄二         201904

In [29]:
#欠損値が含まれているか確認

uriage_data.isnull().any()

purchase_date     False
item_name         False
item_price        False
customer_name     False
purchase_month    False
dtype: bool

In [22]:
# 欠損地が含まれる商品をアルファベット順に並べ替え

items_with_null.sort()
items_with_null

array(['商品A', '商品B', '商品C', '商品D', '商品E', '商品F', '商品G', '商品H', '商品I',
       '商品J', '商品K', '商品L', '商品M', '商品N', '商品O', '商品P', '商品Q', '商品R',
       '商品S', '商品T', '商品U', '商品V', '商品W', '商品X', '商品Y'], dtype=object)

In [32]:
uriage_data.isnull().any()

purchase_date     False
item_name         False
item_price        False
customer_name     False
purchase_month    False
dtype: bool

In [58]:
#それぞれの商品の金額の最大値と最小値を集計

for item in items_with_null:
    min = uriage_data.loc[uriage_data["item_name"] == item, "item_price"].min(skipna = False)
    max = uriage_data.loc[uriage_data["item_name"] == item, "item_price"].max()
    print(item + "の最小金額は" + str(min) + ",最大金額は" + str(max))

商品Aの最小金額は100.0,最大金額は100.0
商品Bの最小金額は200.0,最大金額は200.0
商品Cの最小金額は300.0,最大金額は300.0
商品Dの最小金額は400.0,最大金額は400.0
商品Eの最小金額は500.0,最大金額は500.0
商品Fの最小金額は600.0,最大金額は600.0
商品Gの最小金額は700.0,最大金額は700.0
商品Hの最小金額は800.0,最大金額は800.0
商品Iの最小金額は900.0,最大金額は900.0
商品Jの最小金額は1000.0,最大金額は1000.0
商品Kの最小金額は1100.0,最大金額は1100.0
商品Lの最小金額は1200.0,最大金額は1200.0
商品Mの最小金額は1300.0,最大金額は1300.0
商品Nの最小金額は1400.0,最大金額は1400.0
商品Oの最小金額は1500.0,最大金額は1500.0
商品Pの最小金額は1600.0,最大金額は1600.0
商品Qの最小金額は1700.0,最大金額は1700.0
商品Rの最小金額は1800.0,最大金額は1800.0
商品Sの最小金額は1900.0,最大金額は1900.0
商品Tの最小金額は2000.0,最大金額は2000.0
商品Uの最小金額は2100.0,最大金額は2100.0
商品Vの最小金額は2200.0,最大金額は2200.0
商品Wの最小金額は2300.0,最大金額は2300.0
商品Xの最小金額は2400.0,最大金額は2400.0
商品Yの最小金額は2500.0,最大金額は2500.0

顧客名を表示

In [62]:
kokyaku_data["顧客名"].head()

0     須賀ひとみ
1    岡田　 敏也
2      芳賀 希
3     荻野  愛
4     栗田 憲一
Name: 顧客名, dtype: object

In [60]:
uriage_data["customer_name"].head()

0    深井菜々美
1     浅田賢二
2     南部慶二
3     麻生莉緒
4     平田鉄二
Name: customer_name, dtype: object

In [132]:
# kokyaku_dataの顧客名から半角・全角スペースを除去し、代入、表示

kokyaku_data["顧客名"] = kokyaku_data["顧客名"].str.replace("　", "").str.replace(" ","")
kokyaku_data["顧客名"]

0      須賀ひとみ
1       岡田敏也
2        芳賀希
3        荻野愛
4       栗田憲一
       ...
195     川上りえ
196     小松季衣
197     白鳥りえ
198    大西隆之介
199     福井美希
Name: 顧客名, Length: 200, dtype: object

In [133]:
# それぞれのDFに空白が含まれていないか確認

" " in uriage_data["customer_name"]

False

In [134]:
"　" in uriage_data["customer_name"]

False

In [135]:
" " in kokyaku_data["顧客名"]

False

In [136]:
" " in kokyaku_data["顧客名"]

False

空白が含まれていない事が確認出来た

# ここから自身の解答

In [189]:
#顧客台帳の書き出し

kokyaku_daicho = pd.read_excel("kokyaku_daicho.xlsx")
kokyaku_daicho.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

In [190]:
# 登録日の確認

kokyaku_daicho["登録日"]

0      2018/01/04
1           42782
2      2018/01/07
3           42872
4           43127
          ...
195    2017/06/20
196    2018/06/20
197    2017/04/29
198    2019/04/19
199    2019/04/23
Name: 登録日, Length: 200, dtype: object

In [191]:
#登録日列のシリアル値をブール型に変換

is_serial_value = kokyaku_daicho["登録日"].astype('str').str.isdigit()
is_serial_value

0      False
1       True
2      False
3       True
4       True
       ...
195    False
196    False
197    False
198    False
199    False
Name: 登録日, Length: 200, dtype: bool

In [192]:
#シリアル値を日付に変換したシリーズを作成

serial_to_date = pd.to_timedelta(kokyaku_daicho.loc[is_serial_value, '登録日'].astype('float'), unit='D') + pd.to_datetime('1900/01/01')
serial_to_date

1     2017-02-18
3     2017-05-19
4     2018-01-29
21    2017-07-06
27    2017-06-17
47    2017-01-08
49    2017-07-15
53    2017-04-10
76    2018-03-31
80    2018-01-12
99    2017-06-01
114   2018-06-05
118   2018-01-31
122   2018-04-18
139   2017-05-27
143   2017-03-26
155   2017-01-21
172   2018-03-24
179   2017-01-10
183   2017-07-26
186   2018-07-15
192   2018-06-10
Name: 登録日, dtype: datetime64[ns]

In [193]:
#文字列を日付型に変換してシリーズを作成

object_to_date = pd.to_datetime(kokyaku_daicho.loc[~is_serial_value,"登録日"])
object_to_date

0     2018-01-04
2     2018-01-07
5     2017-06-20
6     2018-06-11
7     2017-05-19
         ...
195   2017-06-20
196   2018-06-20
197   2017-04-29
198   2019-04-19
199   2019-04-23
Name: 登録日, Length: 178, dtype: datetime64[ns]

In [194]:
#上記二つのシリーズを結合

kokyaku_daicho["登録日"] = pd.concat([serial_to_date, object_to_date])

In [188]:
kokyaku_daicho["登録日"]

0     2018-01-04
1     2017-02-18
2     2018-01-07
3     2017-05-19
4     2018-01-29
         ...
195   2017-06-20
196   2018-06-20
197   2017-04-29
198   2019-04-19
199   2019-04-23
Name: 登録日, Length: 200, dtype: datetime64[ns]

In [202]:
# 登録日を月ごとにまとめて、Indexでソート

kokyaku_daicho["登録日"].dt.strftime("%Y%m").value_counts().sort_index()

201701    15
201702    11
201703    14
201704    15
201705    13
201706    14
201707    17
201801    13
201802    15
201803    17
201804     5
201805    19
201806    13
201807    17
201904     2
Name: 登録日, dtype: int64

In [210]:
#登録日の行数が変わっていないかどうか確認

kokyaku_daicho["登録日"].dt.strftime("%Y%m").value_counts().sum()

200

In [211]:
#登録日列に数値・文字列が残っていないか確認

float in kokyaku_daicho["登録日"]

False

In [212]:
object in kokyaku_daicho["登録日"]

False