# ノック91 - データを読み込んで確認

In [1]:
import pandas as pd

不動産業者が町の住民に対して実施したアンケートを自然言語処理を用いて分析していく。

In [52]:
#アンケートの読み込み

survey = pd.read_csv("survey.csv")
survey.head()

    datetime            comment  satisfaction
0  2019/3/11  駅前に若者が集まっている(AA駅)             1
1  2019/2/25   スポーツできる場所があるのが良い             5
2  2019/2/18          子育て支援が嬉しい             5
3   2019/4/9    保育園に入れる（待機児童なし）             4
4   2019/1/6          駅前商店街が寂しい             2

In [53]:
# 欠損値の確認

survey.isnull().sum()

datetime        0
comment         2
satisfaction    0
dtype: int64

In [54]:
# 欠損値の除去

survey.dropna(inplace = True)
survey.isnull().sum()

datetime        0
comment         0
satisfaction    0
dtype: int64

# ノック92 - 不要な文字を除外する(ここから自身の解答)

アンケートのコメント欄から、「AA」という文字を削除する。

In [55]:
survey_re = survey.copy()

In [56]:
survey_re["comment"]

0               駅前に若者が集まっている(AA駅)
1                スポーツできる場所があるのが良い
2                       子育て支援が嬉しい
3                 保育園に入れる（待機児童なし）
4                       駅前商店街が寂しい
                 ...
81              小学校の校庭が芝生なのでとても良い
82    ホームページからアンケートを投稿できるようにしてほしい
83                  公園に遊び道具が少なすぎる
84                  もっと公園を増やしてほしい
85                  駅前に駐車場が少ない、不便
Name: comment, Length: 84, dtype: object

In [57]:
for i in range(len(survey.index)):
    survey_re.iloc[i,1] = survey_re.iloc[i,1].replace("AA", "")  
survey_re.head()

    datetime           comment  satisfaction
0  2019/3/11   駅前に若者が集まっている(駅)             1
1  2019/2/25  スポーツできる場所があるのが良い             5
2  2019/2/18         子育て支援が嬉しい             5
3   2019/4/9   保育園に入れる（待機児童なし）             4
4   2019/1/6         駅前商店街が寂しい             2

次に、正規表現を使って()に囲まれた文字を削除していく。

In [39]:
import re

In [59]:
for i in range(len(survey_re.index)):
    survey_re.iloc[i,1] = re.sub(r"\(.*\)", "", survey_re.iloc[i,1])
survey_re.head()

    datetime           comment  satisfaction
0  2019/3/11      駅前に若者が集まっている             1
1  2019/2/25  スポーツできる場所があるのが良い             5
2  2019/2/18         子育て支援が嬉しい             5
3   2019/4/9   保育園に入れる（待機児童なし）             4
4   2019/1/6         駅前商店街が寂しい             2

(待機児童なし)が消えていないが、大文字の括弧を使っているためと考えられる。  
これも削除する。

In [60]:
for i in range(len(survey_re.index)):
    survey_re.iloc[i,1] = re.sub(r"\（.*\）", "", survey_re.iloc[i,1])
survey_re.head()

    datetime           comment  satisfaction
0  2019/3/11      駅前に若者が集まっている             1
1  2019/2/25  スポーツできる場所があるのが良い             5
2  2019/2/18         子育て支援が嬉しい             5
3   2019/4/9           保育園に入れる             4
4   2019/1/6         駅前商店街が寂しい             2