# ノック41(自身の解答)

ノック41 - 50では、決定木を用いて退会会員の予測をしていく。

In [1]:
import pandas as pd

In [4]:
# データの読み込み

costomer = pd.read_csv("customer_join.csv")
costomer.head()

,customer_id,name,class,gender,start_date,end_date,campaign_id,is_deleted,class_name,price,campaign_name,mean,median,max,min,routine_flg,calc_date,membership_period
0,OA832399,XXXX,C01,F,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,4.833333,5.0,8,2,1,2019-04-30,47
1,PL270116,XXXXX,C01,M,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,5.083333,5.0,7,3,1,2019-04-30,47
2,OA974876,XXXXX,C01,M,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,4.583333,5.0,6,3,1,2019-04-30,47
3,HD024127,XXXXX,C01,F,2015-05-01,NaN,CA1,0,オールタイム,10500,通常,4.833333,4.5,7,2,1,2019-04-30,47
4,HD661448,XXXXX,C03,F,2015-05-01,NaN,CA1,0,ナイト,6000,通常,3.916667,4.0,6,1,1,2019-04-30,47

In [7]:
uselog_months = pd.read_csv("use_log_months.csv")
uselog_months.head()

       年月 customer_id  count
0  201804    AS002855      4
1  201804    AS009013      2
2  201804    AS009373      3
3  201804    AS015315      6
4  201804    AS015739      7

今回は1カ月前のデータから当月(2018年6月)の退会予測を導き出す。  
まずは、2018年5月と6月の会員毎の利用回数を集計。

In [30]:
uselog_months2 = uselog_months.pivot_table(index = "customer_id", columns = "年月", values = "count").reset_index()
uselog_months2[["customer_id", 201805, 201806]].dropna().reset_index(drop = True)

年月   customer_id  201805  201806
0       AS002855     5.0     5.0
1       AS009373     4.0     4.0
2       AS015233     7.0     7.0
3       AS015315     3.0     3.0
4       AS015739     5.0     6.0
...          ...     ...     ...
2933    TS993439    10.0     3.0
2934    TS995299     7.0     2.0
2935    TS999079     5.0     6.0
2936    TS999231     4.0     1.0
2937    TS999855     3.0     6.0

[2938 rows x 3 columns]